doctype html
html
	head
		title C Spire Wireless unlimited plans. Unlimited data. Unlimited you.
		meta(name='description', content='C Spire Wireless lets you pay for only the type of unlimited data you need. Buy your first plan and get the second same plan for $50.')
		meta(property='og:image', content='http://www.cspire.comresources/images/fb_cs_icon.jpg')
		meta(property='og:title', content='C Spire Wireless unlimited plans. Unlimited data. Unlimited you.')
		meta(property='og:description', content='C Spire Wireless lets you pay for only the type of unlimited data you need. Buy your first plan and get the second same plan for $50.')
		meta(property='og:url', content='http://www.cspire.com/promos/?q=mom')
		meta(property='og:site_name', content='cspire.com')
		meta(property='og:type', content='website')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		//
			styles
		//if gte IE 9
			style(type='text/css')
			.gradient {
			filter: none;
			}

		link(rel='stylesheet', href='resources/css/mobile_header.css')
		link(rel='stylesheet', href='resources/css/mobile_footer.css')
		link(rel='stylesheet', href='resources/css/promo-int-services.css')

		<!--[if lt IE 9]>
		<link rel="stylesheet" href="resources/css/promo-int-services-ie.css">
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		script(src='resources/js/jquery.1.11.0.min.js')
		script.
			var jQuery_1_11_0 = $.noConflict(true);
		script(src='resources/js/bootstrap-tab.js')
		script(src='resources/js/angular.min.js')
		script(src='resources/js/angular-sanatize.min.js')
		script(src='resources/js/angular-route.min.js')
		script(src='resources/js/promo-int-services.js')
	body
		.container-fluid.theme_default
			.container
				header
					p.h1 International Services
				main
					nav
						ul.nav.nav-tabs
							li.active
								a(href='#travel') International Travel
							li
								a(href='#calling') International Calling
							li
								a(href='#texting') International Texting

				//
					Tab panes
				.tab-content
					#travel.tab-pane.active
						h2.color-blue Travel
						p.
							Refer to this information before using your phone outside of the U.S only Certain devices

					#calling.tab-pane
					#texting.tab-pane


