/* line 5, ../sass/promo-int-services-ie.scss */
main nav .nav-tabs li.active {
  z-index: 0;
}
/* line 8, ../sass/promo-int-services-ie.scss */
main nav .nav-tabs li {
  margin-right: 0px;
}
/* line 11, ../sass/promo-int-services-ie.scss */
main nav .nav-tabs li a {
  z-index: 0;
}
/* line 14, ../sass/promo-int-services-ie.scss */
main nav .nav-tabs li a:hover {
  z-index: 0;
}
